## Ignore Visual Studio Temporary Files and Build Results
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache directory
.vs/

# NuGet Packages
*.nupkg
packages/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image cache files
Thumbs.db
ehthumbs.db

# Folder View Settings
Desktop.ini

# Media (ignored due to GitHub size limits)
assets/
*.mp4
